.post {
  width: 100%;
  margin: 20px 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.topPostImg {
  width: 32px;
  height: 32px;
     border-radius: 50px;
  object-fit: cover;
}
.top{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.toppostleft{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.topPosttext{
    font-size: 15px;
    margin: 0 10px;
    font-weight: 500;
}
.topPostTime{
    font-size: 12px;
}
.center{
  display: flex;
  justify-content: center;
margin: 5px 0;


}
.centerTop{
  display: flex;
  flex-direction: column;

}

.centerImg{
margin: 20px 0;
width: 100%;
max-height: 500px;
  object-fit: contain;

}

.bottom{
      display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 18px;
    margin: -10px 0;
}
.postBottomLeft{
display: flex;
  align-items: center;
  justify-content: space-between;
}
.postLike{
  width: 22px;
  height: 22px;
  cursor: pointer;
  margin-right: 5px;
}
.postLikeCounter{
  font-size: 15px;
}
.postCommentText{
  font-size: 15px;
  border-bottom: 1px dashed grey;
  cursor: pointer;
}

